# Ignore all the Pycharm-related stuff
.idea/

# Ignore the tcdiag_driver (this will be a separate repository that is nested within this repository but not part of it)
tc_diag_driver/

# Ignore the directory containing log files
logs/

# Ignore the directory containing specification files that have already been run
config/already_ran/